<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title><%= title %></title>
        <meta name="keywords" content="HTML5 Template" />
        <meta name="description" content="Molla - Bootstrap eCommerce Template" />
        <meta name="author" content="p-themes" />
        <!-- Favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/icons/apple-touch-icon.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/icons/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/icons/favicon-16x16.png" />
        <link rel="manifest" href="/assets/images/icons/site.html" />
        <link rel="mask-icon" href="/assets/images/icons/safari-pinned-tab.svg" color="#666666" />
        <link rel="shortcut icon" href="/assets/images/icons/favicon.ico" />
        <meta name="apple-mobile-web-app-title" content="Molla" />
        <meta name="application-name" content="Molla" />
        <meta name="msapplication-TileColor" content="#cc9966" />
        <meta name="msapplication-config" content="/assets/images/icons/browserconfig.xml" />
        <meta name="theme-color" content="#ffffff" />
        <!-- Plugins CSS File -->
        <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
        <!-- Main CSS File -->
        <link rel="stylesheet" href="/assets/css/style.css" />
        <link rel="stylesheet" href="/css/user/main.css" />
    </head>

    <body>
        <div class="page-wrapper">
            <header class="header">
                <div class="header-middle sticky-header">
                    <div class="container">
                        <div class="header-left">
                            <button class="mobile-menu-toggler">
                                <span class="sr-only">Toggle mobile menu</span>
                                <i class="icon-bars"></i>
                            </button>

                            <a href="#" class="logo">
                                <span style="font-size: 2.5rem; font-weight: 600; color: black">Byteverse</span>
                            </a>

                            <nav class="main-nav">
                                <ul class="menu sf-arrows">
                                    <li>
                                        <a href="/">Home</a>
                                    </li>
                                    <li>
                                        <a href="/shop">Shop</a>
                                    </li>
                                    <li>
                                        <a href="#">About</a>
                                    </li>
                                    <li>
                                        <a href="#">Contact</a>
                                    </li>
                                    <li>
                                        <a href="#">Help</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>

                        <div class="header-right">
                            <div class="dropdown cart-dropdown">
                                <% if (userLoggedIn) { %>
                                <a href="/profile/wishlist" class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11">
                                    <img style="width: 30px" src="/images/icons/wishlist.png" alt="wishlist" />
                                </a>
                                <% } else { %>
                                <a href="/login" class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11">
                                    <img style="width: 30px" src="/images/icons/wishlist.png" alt="wishlist" />
                                </a>
                                <% } %>
                            </div>
                            <div class="dropdown cart-dropdown">
                                <% if (userLoggedIn) { %>
                                <a href="/cart">
                                    <img style="width: 30px" src="/images/icons/cart.png" alt="Account" />
                                </a>
                                <% } else { %>
                                <a href="/login">
                                    <img style="width: 30px" src="/images/icons/cart.png" alt="Account" />
                                </a>
                                <% } %>
                            </div>
                            <div class="dropdown cart-dropdown">
                                <% if (userLoggedIn) { %>
                                <a href="/<%= user._id %>/profile">
                                    <img style="width: 30px" src="/images/icons/user.png" alt="Account" />
                                </a>
                                <% } else { %>
                                <a href="/login">
                                    <img style="width: 30px" src="/images/icons/user.png" alt="Account" />
                                </a>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <main class="main">
                <div class="page-header text-center" style="background-image: url('/assets/images/page-header-bg.jpg')">
                    <div class="container">
                        <h1 class="page-title">Address Details</h1>
                    </div>
                    <!-- End .container -->
                </div>
                <!-- End .page-header -->
                <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
                    <div class="container">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Shop</a></li>
                            <li class="breadcrumb-item active" aria-current="page">My Account</li>
                        </ol>
                    </div>
                    <!-- End .container -->
                </nav>
                <!-- End .breadcrumb-nav -->

                <div class="page-content">
                    <div class="dashboard">
                        <div class="container">
                            <div class="row">
                                <aside class="col-md-4 col-lg-3">
                                    <ul class="nav nav-dashboard flex-column mb-3 mb-md-0">
                                        <li class="nav-item">
                                            <a class="nav-link" href="/<%= user._id %>/profile">Dashboard</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/<%= user._id %>/profile/orders">Orders</a>
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link active" href="/<%= user._id %>/profile/address">Addresses</a>
                                        </li>
                                        <li class="nav-item" style="margin-top: 10px">
                                            <form action="/logout" method="POST" style="display: inline">
                                                <button type="submit" class="nav-link" style="border: none; background: none; padding: 0">Sign Out</button>
                                            </form>
                                        </li>
                                    </ul>
                                </aside>
                                <!-- End .col-lg-3 -->

                                <div class="col-md-8 col-lg-9">
                                    <div class="tab-content">
                                        <div>
                                            <h2>Your Addresses</h2>
                                            <p>The following addresses will be used on the checkout page.</p>

                                            <% if (error_msg) { %>
                                            <div class="error-message" id="error"><%= error_msg %></div>
                                            <% } %> <% if (success_msg) { %>
                                            <div class="success-message" id="error"><%= success_msg %></div>
                                            <% } %>
                                            <div class="row mt-2">
                                                <div class="col-lg-12">
                                                    <% if (addresses.length > 0) { %> <% addresses.forEach(address => { %>
                                                    <div class="card card-dashboard mb-3">
                                                        <div class="card-body">
                                                            <div class="card-title d-flex justify-content-end">
                                                                <% if (address.isDefault) { %>
                                                                <p class="d-flex justify-content-end">Default Address</p>
                                                                <% } %>
                                                            </div>
                                                            <p>
                                                                <%= address.firstName %> <%= address.lastName %><br />
                                                                <%= address.street %><br />
                                                                <%= address.city %>, <%= address.state %> <%= address.postalCode %><br />
                                                                <%= address.country %><br />
                                                                <%= address.phoneNumber %><br />
                                                            </p>
                                                            <div class="d-flex gap-3 w-100 mt-2">
                                                                <form action="/<%= user._id %>/profile/address/<%= address._id %>/edit-address" method="get">
                                                                    <button class="btn btn-primary rounded">Edit</button>
                                                                </form>
                                                                <button class="btn btn-danger rounded" style="margin-left: 10px" onclick="deleteAddress('<%= address._id %>')">Delete</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <% }); %> <% } else { %>
                                                    <p>You have not set up any addresses yet.</p>
                                                    <% } %>

                                                    <form action="/<%= user._id %>/profile/address/add-address" method="get">
                                                        <button type="submit" class="btn btn-success rounded">Add Address</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="tab-pane fade" id="tab-account" role="tabpanel" aria-labelledby="tab-account-link">
                                            <h3 class="card-title">Account Details</h3>
                                            <form action="/account/update" method="POST">
                                                <div class="form-group">
                                                    <label for="firstName">First Name</label>
                                                    <input type="text" class="form-control" id="firstName" name="firstName" value="<%= user.firstName %>" required />
                                                </div>
                                                <div class="form-group">
                                                    <label for="lastName">Last Name</label>
                                                    <input type="text" class="form-control" id="lastName" name="lastName" value="<%= user.lastName %>" required />
                                                </div>
                                                <div class="form-group">
                                                    <label for="email">Email Address</label>
                                                    <input type="email" class="form-control" id="email" name="email" value="<%= user.email %>" required />
                                                </div>
                                                <div class="form-group">
                                                    <label for="password">Password</label>
                                                    <input type="password" class="form-control" id="password" name="password" />
                                                </div>
                                                <button type="submit" class="btn btn-outline-primary-2"><span>Save Changes</span></button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <footer class="footer">
                <div class="footer-middle">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6 col-lg-3">
                                <div class="widget widget-about">
                                    <!-- <img src="/assets/images/logo.png" class="footer-logo" alt="Footer Logo" width="105" height="25" /> -->
                                    <h3><strong>Byteverse</strong></h3>
                                    <p>Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue, eu vulputate magna eros eu erat.</p>

                                    <div class="social-icons">
                                        <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
                                        <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
                                        <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                                        <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
                                        <a href="#" class="social-icon" target="_blank" title="Pinterest"><i class="icon-pinterest"></i></a>
                                    </div>
                                    <!-- End .soial-icons -->
                                </div>
                                <!-- End .widget about-widget -->
                            </div>
                            <!-- End .col-sm-6 col-lg-3 -->

                            <div class="col-sm-6 col-lg-3">
                                <div class="widget">
                                    <h4 class="widget-title">Useful Links</h4>
                                    <!-- End .widget-title -->

                                    <ul class="widget-list">
                                        <li><a href="#">About </a></li>
                                        <li><a href="#">How to shop on </a></li>
                                        <li><a href="#">FAQ</a></li>
                                        <li><a href="#">Contact us</a></li>
                                        <li><a href="#">Log in</a></li>
                                    </ul>
                                    <!-- End .widget-list -->
                                </div>
                                <!-- End .widget -->
                            </div>
                            <!-- End .col-sm-6 col-lg-3 -->

                            <div class="col-sm-6 col-lg-3">
                                <div class="widget">
                                    <h4 class="widget-title">Customer Service</h4>
                                    <!-- End .widget-title -->

                                    <ul class="widget-list">
                                        <li><a href="#">Payment Methods</a></li>
                                        <li><a href="#">Money-back guarantee!</a></li>
                                        <li><a href="#">Returns</a></li>
                                        <li><a href="#">Shipping</a></li>
                                        <li><a href="#">Terms and conditions</a></li>
                                        <li><a href="#">Privacy Policy</a></li>
                                    </ul>
                                    <!-- End .widget-list -->
                                </div>
                                <!-- End .widget -->
                            </div>
                            <!-- End .col-sm-6 col-lg-3 -->

                            <div class="col-sm-6 col-lg-3">
                                <div class="widget">
                                    <h4 class="widget-title">My Account</h4>
                                    <!-- End .widget-title -->

                                    <ul class="widget-list">
                                        <li><a href="#">Sign In</a></li>
                                        <li><a href="#">View Cart</a></li>
                                        <li><a href="#">My Wishlist</a></li>
                                        <li><a href="#">Track My Order</a></li>
                                        <li><a href="#">Help</a></li>
                                    </ul>
                                    <!-- End .widget-list -->
                                </div>
                                <!-- End .widget -->
                            </div>
                            <!-- End .col-sm-6 col-lg-3 -->
                        </div>
                        <!-- End .row -->
                    </div>
                    <!-- End .container -->
                </div>
                <!-- End .footer-middle -->

                <div class="footer-bottom">
                    <div class="container">
                        <p class="footer-copyright">Copyright © 2019 Molla Store. All Rights Reserved.</p>
                        <!-- End .footer-copyright -->
                        <figure class="footer-payments">
                            <img src="/assets/images/payments.png" alt="Payment methods" width="272" height="20" />
                        </figure>
                        <!-- End .footer-payments -->
                    </div>
                    <!-- End .container -->
                </div>
                <!-- End .footer-bottom -->
            </footer>
        </div>

        <script src="/assets/js/jquery.min.js"></script>
        <script src="/assets/js/bootstrap.bundle.min.js"></script>
        <script src="/assets/js/jquery.hoverIntent.min.js"></script>
        <script src="/assets/js/jquery.waypoints.min.js"></script>
        <script src="/assets/js/superfish.min.js"></script>
        <script src="/assets/js/owl.carousel.min.js"></script>
        <script src="/assets/js/wNumb.js"></script>
        <script src="/assets/js/bootstrap-input-spinner.js"></script>
        <script src="/assets/js/jquery.magnific-popup.min.js"></script>
        <script src="/assets/js/nouislider.min.js"></script>
        <script src="/assets/js/main.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script>
            function deleteAddress(addressId) {
                const userId = "<%= user._id %>";

                axios
                    .delete(`/${userId}/profile/address/${addressId}`)
                    .then((response) => {
                        window.location.reload();
                    })
                    .catch((error) => {
                        console.error("Error from deleting address : \n", error);
                    });
            }
        </script>
    </body>
</html>
