<!DOCTYPE html>
<html lang="en">
    <!-- molla/checkout.html  22 Nov 2019 09:55:06 GMT -->
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>Molla - Bootstrap eCommerce Template</title>
        <meta name="keywords" content="HTML5 Template" />
        <meta name="description" content="Molla - Bootstrap eCommerce Template" />
        <meta name="author" content="p-themes" />
        <!-- Favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/icons/apple-touch-icon.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/icons/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/icons/favicon-16x16.png" />
        <link rel="manifest" href="/assets/images/icons/site.html" />
        <link rel="mask-icon" href="/assets/images/icons/safari-pinned-tab.svg" color="#666666" />
        <link rel="shortcut icon" href="/assets/images/icons/favicon.ico" />
        <meta name="apple-mobile-web-app-title" content="Molla" />
        <meta name="application-name" content="Molla" />
        <meta name="msapplication-TileColor" content="#cc9966" />
        <meta name="msapplication-config" content="/assets/images/icons/browserconfig.xml" />
        <meta name="theme-color" content="#ffffff" />
        <!-- Plugins CSS File -->
        <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
        <!-- Main CSS File -->
        <link rel="stylesheet" href="/assets/css/style.css" />
        <link rel="stylesheet" href="/css/user/main.css" />
    </head>

    <body>
        <div class="page-wrapper">
            <%- include('partials/header.ejs') %>

            <main class="main">
                <div class="page-header text-center" style="background-image: url('/assets/images/page-header-bg.jpg'); margin-top: 65px">
                    <div class="container">
                        <h1 class="page-title">Checkout<span>Shop</span></h1>
                    </div>
                    <!-- End .container -->
                </div>
                <!-- End .page-header -->
                <nav aria-label="breadcrumb" class="breadcrumb-nav">
                    <div class="container">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Shop</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Checkout</li>
                        </ol>
                    </div>
                    <!-- End .container -->
                </nav>
                <!-- End .breadcrumb-nav -->

                <div class="page-content">
                    <div class="checkout">
                        <div class="container">
                            <form action="/<%= user %>/cart/checkout" method="POST">
                                <div class="row">
                                    <div class="col-lg-9">
                                        <h2 class="checkout-title">Billing Details</h2>
                                        <!-- Dropdown to select saved addresses -->
                                        <label for="savedAddress">Saved Addresses</label>
                                        <select class="form-control" id="savedAddress" name="addressId" onchange="populateAddress()">
                                            <% addresses.forEach(function(address) { %>
                                            <option value="<%= address._id %>" data-firstname="<%= address.firstName %>" data-lastname="<%= address.lastName %>" data-phonenumber="<%= address.phoneNumber %>" data-street="<%= address.street %>" data-city="<%= address.city %>" data-state="<%= address.state %>" data-postalcode="<%= address.postalCode %>" data-country="<%= address.country %>" data-additionalinfo="<%= address.additionalInfo %>" <% if (address.isDefault) { %>
                                                selected <% } %>> <%= address.firstName %>, <%= address.street %>, <%= address.city %>, <%= address.postalCode %>, <%= address.country %>
                                            </option>
                                            <% }); %>
                                        </select>

                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label>First Name *</label>
                                                <input type="text" class="form-control" name="firstName" value="<%= defaultAddress ? defaultAddress.firstName : '' %>" required />
                                            </div>

                                            <div class="col-sm-6">
                                                <label>Last Name *</label>
                                                <input type="text" class="form-control" name="lastName" value="<%= defaultAddress ? defaultAddress.lastName : '' %>" required />
                                            </div>
                                        </div>

                                        <label>Phone Number *</label>
                                        <input type="tel" class="form-control" name="phoneNumber" value="<%= defaultAddress ? defaultAddress.phoneNumber : '' %>" required />

                                        <label>Street Address *</label>
                                        <input type="text" class="form-control" name="street" placeholder="House number and Street name" value="<%= defaultAddress ? defaultAddress.street : '' %>" required />

                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label>City *</label>
                                                <input type="text" class="form-control" name="city" value="<%= defaultAddress ? defaultAddress.city : '' %>" required />
                                            </div>

                                            <div class="col-sm-6">
                                                <label>State *</label>
                                                <input type="text" class="form-control" name="state" value="<%= defaultAddress ? defaultAddress.state : '' %>" required />
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label>Postal Code *</label>
                                                <input type="text" class="form-control" name="postalCode" value="<%= defaultAddress ? defaultAddress.postalCode : '' %>" required />
                                            </div>

                                            <div class="col-sm-6">
                                                <label>Country *</label>
                                                <input type="text" class="form-control" name="country" value="<%= defaultAddress ? defaultAddress.country : '' %>" required />
                                            </div>
                                        </div>

                                        <label>Additional Information (Optional)</label>
                                        <input type="text" class="form-control" name="additionalInfo" placeholder="Apartment, suite, etc." value="<%= defaultAddress ? defaultAddress.additionalInfo : '' %>" />
                                    </div>
                                    <!-- End .col-lg-9 -->
                                    <aside class="col-lg-3">
                                        <!-- Add your action URL -->
                                        <div class="summary">
                                            <h3 class="summary-title">Your Order</h3>
                                            <table class="table table-summary">
                                                <thead>
                                                    <tr>
                                                        <th>Product</th>
                                                        <th>Total</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% orderItems.forEach(function(item) { %>
                                                    <tr>
                                                        <td><a href="#"><%= item.productName %></a></td>
                                                        <td>$<%= item.productTotal.toFixed(2) %></td>
                                                    </tr>
                                                    <% }); %>
                                                    <tr>
                                                        <td>Delivery Charge:</td>
                                                        <td>$<%= deliveryCharge.toFixed(2) %></td>
                                                    </tr>
                                                    <tr class="summary-total">
                                                        <td>Total:</td>
                                                        <td>$<%= totalPrice.toFixed(2) %></td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                            <h3 class="summary-title">Payment Methods</h3>
                                            <div class="payment-methods">
                                                <div class="payment-option" style="margin-bottom: 2rem">
                                                    <input type="radio" name="paymentMethod" id="payment-bank-transfer" value="Bank Transfer" checked />
                                                    <label for="payment-bank-transfer">
                                                        <span class="payment-label">Direct Bank Transfer</span>
                                                    </label>
                                                </div>

                                                <div class="payment-option" style="margin-bottom: 2rem">
                                                    <input type="radio" name="paymentMethod" id="payment-wallet" value="Wallet Payments" />
                                                    <label for="payment-wallet">
                                                        <span class="payment-label">Wallet Payments</span>
                                                    </label>
                                                </div>

                                                <div class="payment-option" style="margin-bottom: 2rem">
                                                    <input type="radio" name="paymentMethod" id="payment-cash-on-delivery" value="Cash on Delivery" />
                                                    <label for="payment-cash-on-delivery">
                                                        <span class="payment-label">Cash on Delivery</span>
                                                    </label>
                                                </div>

                                                <div class="payment-option" style="margin-bottom: 2rem">
                                                    <input type="radio" name="paymentMethod" id="payment-paypal" value="PayPal" />
                                                    <label for="payment-paypal">
                                                        <span class="payment-label">PayPal</span>
                                                        <small class="paypal-link">What is PayPal?</small>
                                                    </label>
                                                </div>

                                                <div class="payment-option" style="margin-bottom: 2rem">
                                                    <input type="radio" name="paymentMethod" id="payment-credit-card" value="Credit Card" />
                                                    <label for="payment-credit-card">
                                                        <span class="payment-label">Credit Card (Stripe)</span>
                                                        <img src="/assets/images/payments-summary.png" alt="payments cards" class="payment-icons" />
                                                    </label>
                                                </div>
                                            </div>

                                            <button type="submit" class="btn btn-outline-primary-2 btn-order btn-block">
                                                <span class="btn-text">Place Order</span>
                                                <span class="btn-hover-text">Place Order</span>
                                            </button>
                                        </div>
                                    </aside>

                                    <!-- End .col-lg-3 -->
                                </div>
                                <!-- End .row -->
                            </form>
                        </div>
                        <!-- End .container -->
                    </div>
                    <!-- End .checkout -->
                </div>
                <!-- End .page-content -->
            </main>
            <!-- End .main -->
        </div>
        <!-- End .page-wrapper -->
    </body>

    <!-- Plugins JS File -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/jquery.hoverIntent.min.js"></script>
    <script src="/assets/js/jquery.waypoints.min.js"></script>
    <script src="/assets/js/superfish.min.js"></script>
    <script src="/assets/js/owl.carousel.min.js"></script>
    <!-- Main JS File -->
    <script src="/assets/js/main.js"></script>
    <script>
        function populateAddress() {
            const selectedAddress = document.getElementById("savedAddress").selectedOptions[0]; // Get the selected option
            const firstName = selectedAddress.getAttribute("data-firstname");
            const lastName = selectedAddress.getAttribute("data-lastname");
            const phoneNumber = selectedAddress.getAttribute("data-phonenumber");
            const street = selectedAddress.getAttribute("data-street");
            const city = selectedAddress.getAttribute("data-city");
            const state = selectedAddress.getAttribute("data-state");
            const postalCode = selectedAddress.getAttribute("data-postalcode");
            const country = selectedAddress.getAttribute("data-country");
            const additionalInfo = selectedAddress.getAttribute("data-additionalinfo");

            // Populate the form fields with the selected address data
            document.querySelector('input[name="firstName"]').value = firstName || "";
            document.querySelector('input[name="lastName"]').value = lastName || "";
            document.querySelector('input[name="phoneNumber"]').value = phoneNumber || "";
            document.querySelector('input[name="street"]').value = street || "";
            document.querySelector('input[name="city"]').value = city || "";
            document.querySelector('input[name="state"]').value = state || "";
            document.querySelector('input[name="postalCode"]').value = postalCode || "";
            document.querySelector('input[name="country"]').value = country || "";
            document.querySelector('input[name="additionalInfo"]').value = additionalInfo || "";
        }
    </script>
</html>
