<!DOCTYPE html>
<html lang="en">
    <!-- molla/checkout.html  22 Nov 2019 09:55:06 GMT -->
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>Molla - Bootstrap eCommerce Template</title>
        <meta name="keywords" content="HTML5 Template" />
        <meta name="description" content="Molla - Bootstrap eCommerce Template" />
        <meta name="author" content="p-themes" />
        <!-- Favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/icons/apple-touch-icon.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/icons/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/icons/favicon-16x16.png" />
        <link rel="manifest" href="/assets/images/icons/site.html" />
        <link rel="mask-icon" href="/assets/images/icons/safari-pinned-tab.svg" color="#666666" />
        <link rel="shortcut icon" href="/assets/images/icons/favicon.ico" />
        <meta name="apple-mobile-web-app-title" content="Molla" />
        <meta name="application-name" content="Molla" />
        <meta name="msapplication-TileColor" content="#cc9966" />
        <meta name="msapplication-config" content="/assets/images/icons/browserconfig.xml" />
        <meta name="theme-color" content="#ffffff" />
        <!-- Plugins CSS File -->
        <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
        <!-- Main CSS File -->
        <link rel="stylesheet" href="/assets/css/style.css" />
        <link rel="stylesheet" href="/css/user/main.css" />
        <style>
            .coupon-button button {
                padding: 5px 86px;
                color: #5c59e8;
                border-color: #5c59e8;
                border-width: 1px;
                /* margin-bottom: -5px; */
            }
            .coupon-button :hover {
                background-color: #5c59e8;
                color: #ffffff;
                border-color: #5c59e8;
            }
        </style>
    </head>

    <body>
        <div class="page-wrapper">
            <header class="header">
                <div class="header-middle sticky-header">
                    <div class="container">
                        <div class="header-left">
                            <button class="mobile-menu-toggler">
                                <span class="sr-only">Toggle mobile menu</span>
                                <i class="icon-bars"></i>
                            </button>

                            <a href="#" class="logo">
                                <span style="font-size: 2.5rem; font-weight: 600; color: black">Byteverse</span>
                            </a>

                            <nav class="main-nav">
                                <ul class="menu sf-arrows">
                                    <li>
                                        <a href="/">Home</a>
                                    </li>
                                    <li>
                                        <a href="/shop">Shop</a>
                                    </li>
                                    <li>
                                        <a href="#">About</a>
                                    </li>
                                    <li>
                                        <a href="#">Contact</a>
                                    </li>
                                    <li>
                                        <a href="#">Help</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>

                        <div class="header-right">
                            <div class="dropdown cart-dropdown">
                                <% if (userLoggedIn) { %>
                                <a href="/profile/wishlist" class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11">
                                    <img style="width: 30px" src="/images/icons/wishlist.png" alt="wishlist" />
                                </a>
                                <% } else { %>
                                <a href="/login" class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11">
                                    <img style="width: 30px" src="/images/icons/wishlist.png" alt="wishlist" />
                                </a>
                                <% } %>
                            </div>
                            <div class="dropdown cart-dropdown">
                                <% if (userLoggedIn) { %>
                                <a href="/cart">
                                    <img style="width: 30px" src="/images/icons/cart.png" alt="Account" />
                                </a>
                                <% } else { %>
                                <a href="/login">
                                    <img style="width: 30px" src="/images/icons/cart.png" alt="Account" />
                                </a>
                                <% } %>
                            </div>
                            <div class="dropdown cart-dropdown">
                                <% if (userLoggedIn) { %>
                                <a href="/<%= user._id %>/profile">
                                    <img style="width: 30px" src="/images/icons/user.png" alt="Account" />
                                </a>
                                <% } else { %>
                                <a href="/login">
                                    <img style="width: 30px" src="/images/icons/user.png" alt="Account" />
                                </a>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </header>

            <main class="main">
                <div class="page-header text-center" style="background-image: url('/assets/images/page-header-bg.jpg')">
                    <div class="container">
                        <h1 class="page-title">Checkout</h1>
                    </div>
                    <!-- End .container -->
                </div>
                <!-- End .page-header -->
                <nav aria-label="breadcrumb" class="breadcrumb-nav">
                    <div class="container">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Shop</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Checkout</li>
                        </ol>
                    </div>
                    <!-- End .container -->
                </nav>
                <!-- End .breadcrumb-nav -->

                <div class="page-content">
                    <div class="checkout">
                        <div class="container">
                            <form action="/<%= user %>/cart/checkout" method="POST">
                                <div class="row">
                                    <div class="col-lg-9">
                                        <h2 class="checkout-title">Billing Details</h2>
                                        <!-- Dropdown to select saved addresses -->
                                        <label for="savedAddress">Saved Addresses</label>
                                        <select class="form-control" id="savedAddress" name="addressId" onchange="populateAddress()">
                                            <% addresses.forEach(function(address) { %>
                                            <option value="<%= address._id %>" data-firstname="<%= address.firstName %>" data-lastname="<%= address.lastName %>" data-phonenumber="<%= address.phoneNumber %>" data-street="<%= address.street %>" data-city="<%= address.city %>" data-state="<%= address.state %>" data-postalcode="<%= address.postalCode %>" data-country="<%= address.country %>" data-additionalinfo="<%= address.additionalInfo %>" <% if (address.isDefault) { %>
                                                selected <% } %>> <%= address.firstName %>, <%= address.street %>, <%= address.city %>, <%= address.postalCode %>, <%= address.country %>
                                            </option>
                                            <% }); %>
                                        </select>

                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label>First Name *</label>
                                                <input type="text" class="form-control" name="firstName" value="<%= defaultAddress ? defaultAddress.firstName : '' %>" required />
                                            </div>

                                            <div class="col-sm-6">
                                                <label>Last Name *</label>
                                                <input type="text" class="form-control" name="lastName" value="<%= defaultAddress ? defaultAddress.lastName : '' %>" required />
                                            </div>
                                        </div>

                                        <label>Phone Number *</label>
                                        <input type="tel" class="form-control" name="phoneNumber" value="<%= defaultAddress ? defaultAddress.phoneNumber : '' %>" required />

                                        <label>Street Address *</label>
                                        <input type="text" class="form-control" name="street" placeholder="House number and Street name" value="<%= defaultAddress ? defaultAddress.street : '' %>" required />

                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label>City *</label>
                                                <input type="text" class="form-control" name="city" value="<%= defaultAddress ? defaultAddress.city : '' %>" required />
                                            </div>

                                            <div class="col-sm-6">
                                                <label>State *</label>
                                                <input type="text" class="form-control" name="state" value="<%= defaultAddress ? defaultAddress.state : '' %>" required />
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label>Postal Code *</label>
                                                <input type="text" class="form-control" name="postalCode" value="<%= defaultAddress ? defaultAddress.postalCode : '' %>" required />
                                            </div>

                                            <div class="col-sm-6">
                                                <label>Country *</label>
                                                <input type="text" class="form-control" name="country" value="<%= defaultAddress ? defaultAddress.country : '' %>" required />
                                            </div>
                                        </div>

                                        <label>Additional Information (Optional)</label>
                                        <input type="text" class="form-control" name="additionalInfo" placeholder="Apartment, suite, etc." value="<%= defaultAddress ? defaultAddress.additionalInfo : '' %>" />
                                    </div>

                                    <!-- End .col-lg-9 -->
                                    <aside class="col-lg-3">
                                        <!-- Add your action URL -->
                                        <div class="summary">
                                            <h3 class="summary-title">Your Order</h3>
                                            <table class="table table-summary">
                                                <thead>
                                                    <tr>
                                                        <th>Product</th>
                                                        <th>Total</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% orderDetails.forEach(function(item) { %>
                                                    <tr>
                                                        <td><a href="#"><%= item.productName %></a></td>
                                                        <td>$<%= item.productTotal.toFixed(2) %></td>
                                                    </tr>
                                                    <% }); %>
                                                    <tr>
                                                        <td>Delivery Charge:</td>
                                                        <td><%= cartTotal < 1500 ? "$" + deliveryCharge.toFixed(2) : "Free Delivery" %></td>
                                                    </tr>
                                                    <tr id="coupon-code-row" style="display: none">
                                                        <td style="width: 175px">Coupon (<span id="coupon-code"></span>):</td>
                                                        <td id="discount-amount"></td>
                                                    </tr>
                                                    <tr class="summary-total">
                                                        <td style="font-weight: bold">Total:</td>
                                                        <td>
                                                            <span id="original-price" style="text-decoration: line-through; display: none; color: gray">$<%= cartTotal.toFixed(2) %></span>
                                                            <span id="total-amount" style="font-weight: bold">$<%= cartTotal.toFixed(2) %></span>
                                                        </td>
                                                    </tr>
                                                   
                                                </tbody>
                                            </table>

                                            <h3 class="summary-title">Payment Methods</h3>
                                            <div class="payment-methods">
                                                <div class="payment-option" style="margin-bottom: 2rem">
                                                    <input type="radio" name="paymentMethod" id="payment-bank-transfer" value="UPI Payment" checked />
                                                    <label for="payment-bank-transfer">
                                                        <span class="payment-label">UPI Payment</span>
                                                    </label>
                                                </div>

                                                <div class="payment-option" style="margin-bottom: 2rem">
                                                    <input type="radio" name="paymentMethod" id="payment-wallet" value="Wallet Payments" />
                                                    <label for="payment-wallet">
                                                        <span class="payment-label">Wallet Payments</span>
                                                    </label>
                                                </div>

                                                <div class="payment-option" style="margin-bottom: 2rem">
                                                    <input type="radio" name="paymentMethod" id="payment-cash-on-delivery" value="Cash on Delivery" />
                                                    <label for="payment-cash-on-delivery">
                                                        <span class="payment-label">Cash on Delivery</span>
                                                    </label>
                                                </div>
                                            </div>

                                            <h3 class="summary-title">Redeem Coupon</h3>
                                            <div class="cart-discount" style="margin: 20px 0px">
                                                <form id="couponForm">
                                                    <div class="">
                                                        <!-- Input for coupon code -->
                                                        <input type="text" class="form-control" name="couponCode" id="couponCode" placeholder="Enter your coupon code" />

                                                        <div class="coupon-button">
                                                            <button id="apply-coupon-btn">Apply Coupon</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>

                                            <h3 class="summary-title">Place Order</h3>

                                            <button type="submit" class="btn btn-outline-primary-2 btn-order btn-block">
                                                <span class="btn-text">Place Order</span>
                                                <span class="btn-hover-text">Place Order</span>
                                            </button>
                                        </div>
                                    </aside>

                                    <!-- End .col-lg-3 -->
                                </div>
                                <!-- End .row -->
                            </form>
                        </div>
                        <!-- End .container -->
                    </div>
                    <!-- End .checkout -->
                </div>
                <!-- End .page-content -->
            </main>
            <!-- End .main -->
            <footer class="footer">
                <div class="footer-middle">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6 col-lg-3">
                                <div class="widget widget-about">
                                    <!-- <img src="/assets/images/logo.png" class="footer-logo" alt="Footer Logo" width="105" height="25" /> -->
                                    <h3><strong>Byteverse</strong></h3>
                                    <p>Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue, eu vulputate magna eros eu erat.</p>

                                    <div class="social-icons">
                                        <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
                                        <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
                                        <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                                        <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
                                        <a href="#" class="social-icon" target="_blank" title="Pinterest"><i class="icon-pinterest"></i></a>
                                    </div>
                                    <!-- End .soial-icons -->
                                </div>
                                <!-- End .widget about-widget -->
                            </div>
                            <!-- End .col-sm-6 col-lg-3 -->

                            <div class="col-sm-6 col-lg-3">
                                <div class="widget">
                                    <h4 class="widget-title">Useful Links</h4>
                                    <!-- End .widget-title -->

                                    <ul class="widget-list">
                                        <li><a href="#">About </a></li>
                                        <li><a href="#">How to shop on </a></li>
                                        <li><a href="#">FAQ</a></li>
                                        <li><a href="#">Contact us</a></li>
                                        <li><a href="#">Log in</a></li>
                                    </ul>
                                    <!-- End .widget-list -->
                                </div>
                                <!-- End .widget -->
                            </div>
                            <!-- End .col-sm-6 col-lg-3 -->

                            <div class="col-sm-6 col-lg-3">
                                <div class="widget">
                                    <h4 class="widget-title">Customer Service</h4>
                                    <!-- End .widget-title -->

                                    <ul class="widget-list">
                                        <li><a href="#">Payment Methods</a></li>
                                        <li><a href="#">Money-back guarantee!</a></li>
                                        <li><a href="#">Returns</a></li>
                                        <li><a href="#">Shipping</a></li>
                                        <li><a href="#">Terms and conditions</a></li>
                                        <li><a href="#">Privacy Policy</a></li>
                                    </ul>
                                    <!-- End .widget-list -->
                                </div>
                                <!-- End .widget -->
                            </div>
                            <!-- End .col-sm-6 col-lg-3 -->

                            <div class="col-sm-6 col-lg-3">
                                <div class="widget">
                                    <h4 class="widget-title">My Account</h4>
                                    <!-- End .widget-title -->

                                    <ul class="widget-list">
                                        <li><a href="#">Sign In</a></li>
                                        <li><a href="#">View Cart</a></li>
                                        <li><a href="#">My Wishlist</a></li>
                                        <li><a href="#">Track My Order</a></li>
                                        <li><a href="#">Help</a></li>
                                    </ul>
                                    <!-- End .widget-list -->
                                </div>
                                <!-- End .widget -->
                            </div>
                            <!-- End .col-sm-6 col-lg-3 -->
                        </div>
                        <!-- End .row -->
                    </div>
                    <!-- End .container -->
                </div>
                <!-- End .footer-middle -->

                <div class="footer-bottom">
                    <div class="container">
                        <p class="footer-copyright">Copyright © 2019 Molla Store. All Rights Reserved.</p>
                        <!-- End .footer-copyright -->
                        <figure class="footer-payments">
                            <img src="/assets/images/payments.png" alt="Payment methods" width="272" height="20" />
                        </figure>
                        <!-- End .footer-payments -->
                    </div>
                    <!-- End .container -->
                </div>
                <!-- End .footer-bottom -->
            </footer>
        </div>
        <!-- End .page-wrapper -->
    </body>

    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/jquery.hoverIntent.min.js"></script>
    <script src="/assets/js/jquery.waypoints.min.js"></script>
    <script src="/assets/js/superfish.min.js"></script>
    <script src="/assets/js/owl.carousel.min.js"></script>
    <script src="/assets/js/wNumb.js"></script>
    <script src="/assets/js/bootstrap-input-spinner.js"></script>
    <script src="/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="/assets/js/nouislider.min.js"></script>
    <script src="/assets/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        function populateAddress() {
            const selectedAddress = document.getElementById("savedAddress").selectedOptions[0]; // Get the selected option
            const firstName = selectedAddress.getAttribute("data-firstname");
            const lastName = selectedAddress.getAttribute("data-lastname");
            const phoneNumber = selectedAddress.getAttribute("data-phonenumber");
            const street = selectedAddress.getAttribute("data-street");
            const city = selectedAddress.getAttribute("data-city");
            const state = selectedAddress.getAttribute("data-state");
            const postalCode = selectedAddress.getAttribute("data-postalcode");
            const country = selectedAddress.getAttribute("data-country");
            const additionalInfo = selectedAddress.getAttribute("data-additionalinfo");

            // Populate the form fields with the selected address data
            document.querySelector('input[name="firstName"]').value = firstName || "";
            document.querySelector('input[name="lastName"]').value = lastName || "";
            document.querySelector('input[name="phoneNumber"]').value = phoneNumber || "";
            document.querySelector('input[name="street"]').value = street || "";
            document.querySelector('input[name="city"]').value = city || "";
            document.querySelector('input[name="state"]').value = state || "";
            document.querySelector('input[name="postalCode"]').value = postalCode || "";
            document.querySelector('input[name="country"]').value = country || "";
            document.querySelector('input[name="additionalInfo"]').value = additionalInfo || "";
        }

        document.getElementById("apply-coupon-btn").addEventListener("click", function (event) {
            event.preventDefault();
            const selectedCoupon = document.getElementById("couponCode").value;

            if (!selectedCoupon) {
                Swal.fire({
                    icon: "warning",
                    title: "Oops...",
                    text: "Please select a coupon!",
                });
                return;
            }

            // Send coupon code to server for validation
            axios
                .post("/apply-coupon", { couponCode: selectedCoupon })
                .then(function (response) {
                    console.log("response : ", response);

                    if (response.data.success) {
                        const discountAmount = response.data.discountAmount;
                        const newTotal = response.data.newTotal;
                        const originalTotal = response.data.total;

                        const appliedCoupon = selectedCoupon;

                        console.log("DISCOUNT : ", discountAmount);
                        console.log("NEWTOTAL : ", newTotal);

                        //show coupon row
                        if (discountAmount != null && newTotal != null) {
                            document.getElementById("coupon-code-row").style.display = "table-row";
                            document.getElementById("coupon-code").innerText = appliedCoupon;
                            document.getElementById("discount-amount").innerText = `-$${discountAmount.toFixed(2)}`;

                            document.getElementById("original-price").style.display = "inline";
                            document.getElementById("original-price").innerText = `$${originalTotal.toFixed(2)}`;
                            document.getElementById("total-amount").innerText = `$${newTotal.toFixed(2)}`;
                        } else {
                            console.error("Error: Discount amount or new total is null or undefined.");
                        }

                        Swal.fire({
                            icon: "success",
                            title: "Coupon Applied",
                            text: `Discount: $${discountAmount}`,
                        });
                    } else {
                        Swal.fire({
                            icon: "error",
                            title: "Error",
                            text: response.data.message,
                        });
                    }
                })
                .catch(function (error) {
                    console.error("Error applying coupon:", error);
                    Swal.fire({
                        icon: "error",
                        title: "Server Error",
                        text: "An error occurred while applying the coupon.",
                    });
                });
        });
    </script>
</html>
