<%- include('partials/head.ejs') %>

<body class="animsition">
    <!-- Header -->
    <%- include('partials/header.ejs') %>

    <!-- Slider -->
    <section class="section-slide">
        <div class="wrap-slick1 rs2-slick1">
            <div class="slick1">
                <div class="item-slick1 bg-overlay1" style="background-image: url(/images/slide-01.jpg)" data-thumb="images/thumb-01.jpg" data-caption="Women’s Wear">
                    <div class="container h-full">
                        <div class="flex-col-c-m h-full p-t-100 p-b-60 respon5">
                            <div class="layer-slick1 animated visible-false" data-appear="fadeInDown" data-delay="0">
                                <span class="ltext-202 txt-center cl0 respon2"> Stylish & Portable Thin and Light Laptop </span>
                            </div>

                            <div class="layer-slick1 animated visible-false" data-appear="fadeInUp" data-delay="800">
                                <h2 class="ltext-104 txt-center cl0 p-t-22 p-b-40 respon1">Apple MacBook Air Apple M3</h2>
                            </div>

                            <div class="layer-slick1 animated visible-false" data-appear="zoomIn" data-delay="1600">
                                <a href="product.html" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn2 p-lr-15 trans-04"> Shop Now </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item-slick1 bg-overlay1" style="background-image: url(images/slide-02.jpg)" data-thumb="images/thumb-02.jpg" data-caption="Men’s Wear">
                    <div class="container h-full">
                        <div class="flex-col-c-m h-full p-t-100 p-b-60 respon5">
                            <div class="layer-slick1 animated visible-false" data-appear="rollIn" data-delay="0">
                                <span class="ltext-202 txt-center cl0 respon2">Light Laptop without Optical Disk Drive </span>
                            </div>

                            <div class="layer-slick1 animated visible-false" data-appear="lightSpeedIn" data-delay="800">
                                <h2 class="ltext-104 txt-center cl0 p-t-22 p-b-40 respon1">ASUS TUF Gaming F15</h2>
                            </div>

                            <div class="layer-slick1 animated visible-false" data-appear="slideInUp" data-delay="1600">
                                <a href="product.html" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn2 p-lr-15 trans-04"> Shop Now </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="item-slick1 bg-overlay1" style="background-image: url(images/slide-03.jpg)" data-thumb="images/thumb-03.jpg" data-caption="Men’s Wear">
                    <div class="container h-full">
                        <div class="flex-col-c-m h-full p-t-100 p-b-60 respon5">
                            <div class="layer-slick1 animated visible-false" data-appear="rotateInDownLeft" data-delay="0">
                                <span class="ltext-202 txt-center cl0 respon2"> 14 Inch Full HD IPS 300nits Anti-glare </span>
                            </div>

                            <div class="layer-slick1 animated visible-false" data-appear="rotateInUpRight" data-delay="800">
                                <h2 class="ltext-104 txt-center cl0 p-t-22 p-b-40 respon1">Lenovo IdeaPad Slim 3</h2>
                            </div>

                            <div class="layer-slick1 animated visible-false" data-appear="rotateIn" data-delay="1600">
                                <a href="product.html" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn2 p-lr-15 trans-04"> Shop Now </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Catogories -->
    <section class="py-5">
        <div class="container">
            <h2 class="ltext-103 section-title">Popular Categories</h2>
            <div class="row g-4">
                <div class="col-md-3">
                    <div class="card category-card">
                        <img src="/images/Laptops/71ItMeqpN3L._SX679_.jpg" alt="Laptops" class="card-img-top" />
                        <div class="card-body">
                            <h5 class="card-title">Professional Laptops</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card category-card">
                        <img src="/images/Laptops/51GGNToj7aL._SX522_.jpg" alt="Smartphones" class="card-img-top" />
                        <div class="card-body">
                            <h5 class="card-title">Gaming Laptops</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card category-card">
                        <img src="/images/Laptops/71jG+e7roXL._SX679_.jpg" alt="Accessories" class="card-img-top" />
                        <div class="card-body">
                            <h5 class="card-title">Students Laptops</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card category-card">
                        <img src="/images/Laptops/61ZxrrWZLtL._SX569_.jpg" alt="Smart Home" class="card-img-top" />
                        <div class="card-body">
                            <h5 class="card-title">Ultrabook Laptops</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Product -->
    <section class="bg0 p-t-23 p-b-130">
        <div class="container">
            <div class="p-b-10">
                <h3 class="ltext-103 cl5">Product Overview</h3>
            </div>

            <div class="flex-w flex-sb-m p-b-52">
                <div class="flex-w flex-l-m filter-tope-group m-tb-10">
                    <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1" data-filter="*">All Products</button>

                    <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".women">Professional Laptops</button>

                    <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".men">Gaming Laptops</button>

                    <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".bag">Students Laptops</button>

                    <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".shoes">Ultrabook Laptops</button>

                    <!-- <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".watches">Watches</button> -->
                </div>

                <div class="flex-w flex-c-m m-tb-10">
                    <div class="flex-c-m stext-106 cl6 size-104 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4 js-show-filter">
                        <i class="icon-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-filter-list"></i>
                        <i class="icon-close-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
                        Filter
                    </div>

                    <div class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search">
                        <i class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>
                        <i class="icon-close-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
                        Search
                    </div>
                </div>

                <!-- Search product -->
                <div class="dis-none panel-search w-full p-t-10 p-b-15">
                    <div class="bor8 dis-flex p-l-15">
                        <button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
                            <i class="zmdi zmdi-search"></i>
                        </button>

                        <input class="mtext-107 cl2 size-114 plh2 p-r-15" type="text" name="search-product" placeholder="Search" />
                    </div>
                </div>

                <!-- Filter -->
                <div class="dis-none panel-filter w-full p-t-10">
                    <div class="wrap-filter flex-w bg6 w-full p-lr-40 p-t-27 p-lr-15-sm">
                        <div class="filter-col1 p-r-15 p-b-27">
                            <div class="mtext-102 cl2 p-b-15">Sort By</div>

                            <ul>
                                <li class="p-b-6">
                                    <a href="#" class="filter-link stext-106 trans-04"> Default </a>
                                </li>

                                <li class="p-b-6">
                                    <a href="#" class="filter-link stext-106 trans-04"> Popularity </a>
                                </li>

                                <li class="p-b-6">
                                    <a href="#" class="filter-link stext-106 trans-04"> Average rating </a>
                                </li>

                                <li class="p-b-6">
                                    <a href="#" class="filter-link stext-106 trans-04 filter-link-active"> Newness </a>
                                </li>

                                <li class="p-b-6">
                                    <a href="#" class="filter-link stext-106 trans-04"> Price: Low to High </a>
                                </li>

                                <li class="p-b-6">
                                    <a href="#" class="filter-link stext-106 trans-04"> Price: High to Low </a>
                                </li>
                            </ul>
                        </div>

                        <div class="filter-col2 p-r-15 p-b-27">
                            <div class="mtext-102 cl2 p-b-15">Price</div>

                            <ul>
                                <li class="p-b-6">
                                    <a href="#" class="filter-link stext-106 trans-04 filter-link-active"> All </a>
                                </li>

                                <li class="p-b-6">
                                    <a href="#" class="filter-link stext-106 trans-04"> ₹0.00 - ₹50.00 </a>
                                </li>

                                <li class="p-b-6">
                                    <a href="#" class="filter-link stext-106 trans-04"> ₹50.00 - ₹100.00 </a>
                                </li>

                                <li class="p-b-6">
                                    <a href="#" class="filter-link stext-106 trans-04"> ₹100.00 - ₹150.00 </a>
                                </li>

                                <li class="p-b-6">
                                    <a href="#" class="filter-link stext-106 trans-04"> ₹150.00 - ₹200.00 </a>
                                </li>

                                <li class="p-b-6">
                                    <a href="#" class="filter-link stext-106 trans-04"> ₹200.00+ </a>
                                </li>
                            </ul>
                        </div>

                        <div class="filter-col3 p-r-15 p-b-27">
                            <div class="mtext-102 cl2 p-b-15">Color</div>

                            <ul>
                                <li class="p-b-6">
                                    <span class="fs-15 lh-12 m-r-6" style="color: #222">
                                        <i class="zmdi zmdi-circle"></i>
                                    </span>

                                    <a href="#" class="filter-link stext-106 trans-04"> Black </a>
                                </li>

                                <li class="p-b-6">
                                    <span class="fs-15 lh-12 m-r-6" style="color: #4272d7">
                                        <i class="zmdi zmdi-circle"></i>
                                    </span>

                                    <a href="#" class="filter-link stext-106 trans-04 filter-link-active"> Blue </a>
                                </li>

                                <li class="p-b-6">
                                    <span class="fs-15 lh-12 m-r-6" style="color: #b3b3b3">
                                        <i class="zmdi zmdi-circle"></i>
                                    </span>

                                    <a href="#" class="filter-link stext-106 trans-04"> Grey </a>
                                </li>

                                <li class="p-b-6">
                                    <span class="fs-15 lh-12 m-r-6" style="color: #00ad5f">
                                        <i class="zmdi zmdi-circle"></i>
                                    </span>

                                    <a href="#" class="filter-link stext-106 trans-04"> Green </a>
                                </li>

                                <li class="p-b-6">
                                    <span class="fs-15 lh-12 m-r-6" style="color: #fa4251">
                                        <i class="zmdi zmdi-circle"></i>
                                    </span>

                                    <a href="#" class="filter-link stext-106 trans-04"> Red </a>
                                </li>

                                <li class="p-b-6">
                                    <span class="fs-15 lh-12 m-r-6" style="color: #aaa">
                                        <i class="zmdi zmdi-circle-o"></i>
                                    </span>

                                    <a href="#" class="filter-link stext-106 trans-04"> White </a>
                                </li>
                            </ul>
                        </div>

                        <div class="filter-col4 p-b-27">
                            <div class="mtext-102 cl2 p-b-15">Tags</div>

                            <div class="flex-w p-t-4 m-r--5">
                                <a href="#" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5"> Fashion </a>

                                <a href="#" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5"> Lifestyle </a>

                                <a href="#" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5"> Denim </a>

                                <a href="#" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5"> Streetstyle </a>

                                <a href="#" class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5"> Crafts </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row isotope-grid">
                <% products.forEach(product => { %>
                <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item <%= product.category %>">
                    <div class="unique-container">
                        <!-- Link to product detail page -->
                        <div class="unique-product-image">
                            <img src="<%= product.images[0] %>" alt="Product Image" />
                        </div>
                        <a href="/shop/product-detail/<%= product._id %>" class="unique-product-card">
                            <div class="unique-product-info">
                                <h3 class="unique-product-title"><%= product.name %></h3>

                                <!-- Display the best offer if available -->
                                <% if (product.bestOffer) { %>
                                <div class="unique-product-offer">
                                    <p class="best-offer-text" style="color: green; font-size: 0.8rem">Best Offer: ₹<%= product.bestOffer.discountAmount %> off</p>
                                </div>
                                <% } %>

                                <div class="unique-product-price-rating" style="flex-direction: column; justify-content: center; align-items: start">
                                    <div>
                                        <% if (product.bestOffer) { %>
                                        <div style="display: flex;">
                                            <p class="unique-product-price original-price" style="text-decoration: line-through; color: gray; margin-right: 10px;">₹<%= product.price.toFixed(2) %></p>
                                            <p class="unique-product-price discounted-price" style="color: green">₹<%= (product.price - product.bestOffer.discountAmount).toFixed(2) %></p>
                                        </div>
                                        <% } else { %>
                                        <p class="unique-product-price">₹<%= product.price.toFixed(2) %></p>
                                        <% } %>
                                    </div>

                                    <div class="unique-product-rating">
                                        <span class="unique-rating-star">★</span>
                                        <span class="unique-rating-star">★</span>
                                        <span class="unique-rating-star">★</span>
                                        <span class="unique-rating-star">★</span>
                                        <span class="unique-rating-value">(4.5)</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div>
                            <button style="margin-bottom: 5px" class="btn-add-wishlist unique-add-to-cart-btn" data-product-id="<%= product._id %>">Add to Wishlist</button>

                            <!-- Form for adding to cart -->
                            <% if (userLoggedIn) { %>
                            <form class="unique-add-to-cart-form" action="/<%= user._id %>/add-to-cart" method="POST">
                                <input type="hidden" name="productId" value="<%= product._id %>" />
                                <button type="submit" class="unique-add-to-cart-btn">Add to Cart</button>
                            </form>
                            <% } else { %>
                            <form class="unique-add-to-cart-form" action="/login" method="get">
                                <input type="hidden" name="productId" value="<%= product._id %>" />
                                <button type="submit" class="unique-add-to-cart-btn">Add to Cart</button>
                            </form>
                            <% } %>
                        </div>
                    </div>
                </div>
                <% }) %>
            </div>

            <!-- Pagination -->
            <div class="flex-c-m flex-w w-full p-t-38" id="pagination-container">
                <!-- Previous Button -->
                <% if (currentPage > 1) { %>
                <a href="/?page=<%= currentPage - 1 %>" class="flex-c-m how-pagination1 trans-04 m-all-7"> Previous </a>
                <% } %> <% for (let i = 1; i <= totalPages; i++) { %>
                <a href="/?page=<%= i %>" class="flex-c-m how-pagination1 trans-04 m-all-7 <%= i === currentPage ? 'active-pagination1' : '' %>"> <%= i %> </a>
                <% } %>

                <!-- Next Button -->
                <% if (currentPage < totalPages) { %>
                <a href="/?page=<%= currentPage + 1 %>" class="flex-c-m how-pagination1 trans-04 m-all-7"> Next </a>
                <% } %>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <%- include('partials/footer.ejs') %>

    <!-- Modal1 -->
    <div class="wrap-modal1 js-modal1 p-t-60 p-b-20">
        <div class="overlay-modal1 js-hide-modal1"></div>

        <div class="container">
            <div class="bg0 p-t-60 p-b-30 p-lr-15-lg how-pos3-parent">
                <button class="how-pos3 hov3 trans-04 js-hide-modal1">
                    <img src="images/icons/icon-close.png" alt="CLOSE" />
                </button>

                <div class="row">
                    <div class="col-md-6 col-lg-7 p-b-30">
                        <div class="p-l-25 p-r-30 p-lr-0-lg">
                            <div class="wrap-slick3 flex-sb flex-w">
                                <div class="wrap-slick3-dots"></div>
                                <div class="wrap-slick3-arrows flex-sb-m flex-w"></div>

                                <div class="slick3 gallery-lb">
                                    <div class="item-slick3" data-thumb="images/product-detail-01.jpg">
                                        <div class="wrap-pic-w pos-relative">
                                            <img src="images/product-detail-01.jpg" alt="IMG-PRODUCT" />

                                            <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="images/product-detail-01.jpg">
                                                <i class="fa fa-expand"></i>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="item-slick3" data-thumb="images/product-detail-02.jpg">
                                        <div class="wrap-pic-w pos-relative">
                                            <img src="images/product-detail-02.jpg" alt="IMG-PRODUCT" />

                                            <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="images/product-detail-02.jpg">
                                                <i class="fa fa-expand"></i>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="item-slick3" data-thumb="images/product-detail-03.jpg">
                                        <div class="wrap-pic-w pos-relative">
                                            <img src="images/product-detail-03.jpg" alt="IMG-PRODUCT" />

                                            <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="images/product-detail-03.jpg">
                                                <i class="fa fa-expand"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-5 p-b-30">
                        <div class="p-r-50 p-t-5 p-lr-0-lg">
                            <h4 class="mtext-105 cl2 js-name-detail p-b-14">Lightweight Jacket</h4>

                            <span class="mtext-106 cl2"> ₹58.79 </span>

                            <p class="stext-102 cl3 p-t-23">Nulla eget sem vitae eros pharetra viverra. Nam vitae luctus ligula. Mauris consequat ornare feugiat.</p>

                            <!--  -->
                            <div class="p-t-33">
                                <div class="flex-w flex-r-m p-b-10">
                                    <div class="size-203 flex-c-m respon6">Size</div>

                                    <div class="size-204 respon6-next">
                                        <div class="rs1-select2 bor8 bg0">
                                            <select class="js-select2" name="time">
                                                <option>Choose an option</option>
                                                <option>Size S</option>
                                                <option>Size M</option>
                                                <option>Size L</option>
                                                <option>Size XL</option>
                                            </select>
                                            <div class="dropDownSelect2"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="flex-w flex-r-m p-b-10">
                                    <div class="size-203 flex-c-m respon6">Color</div>

                                    <div class="size-204 respon6-next">
                                        <div class="rs1-select2 bor8 bg0">
                                            <select class="js-select2" name="time">
                                                <option>Choose an option</option>
                                                <option>Red</option>
                                                <option>Blue</option>
                                                <option>White</option>
                                                <option>Grey</option>
                                            </select>
                                            <div class="dropDownSelect2"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="flex-w flex-r-m p-b-10">
                                    <div class="size-204 flex-w flex-m respon6-next">
                                        <div class="wrap-num-product flex-w m-r-20 m-tb-10">
                                            <div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
                                                <i class="fs-16 zmdi zmdi-minus"></i>
                                            </div>

                                            <input class="mtext-104 cl3 txt-center num-product" type="number" name="num-product" value="1" />

                                            <div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
                                                <i class="fs-16 zmdi zmdi-plus"></i>
                                            </div>
                                        </div>

                                        <button class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-addcart-detail">Add to cart</button>
                                    </div>
                                </div>
                            </div>

                            <!--  -->
                            <div class="flex-w flex-m p-l-100 p-t-40 respon7">
                                <div class="flex-m bor9 p-r-10 m-r-11">
                                    <a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 js-addwish-detail tooltip100" data-tooltip="Add to Wishlist">
                                        <i class="zmdi zmdi-favorite"></i>
                                    </a>
                                </div>

                                <a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Facebook">
                                    <i class="fa fa-facebook"></i>
                                </a>

                                <a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Twitter">
                                    <i class="fa fa-twitter"></i>
                                </a>

                                <a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Google Plus">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--===============================================================================================-->
    <script src="/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="/vendor/bootstrap/js/popper.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="/vendor/select2/select2.min.js"></script>
    <script>
        $(".js-select2").each(function () {
            $(this).select2({
                minimumResultsForSearch: 20,
                dropdownParent: $(this).next(".dropDownSelect2"),
            });
        });
    </script>
    <!--===============================================================================================-->
    <script src="/vendor/daterangepicker/moment.min.js"></script>
    <script src="/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="/vendor/slick/slick.min.js"></script>
    <script src="js/slick-custom.js"></script>
    <!--===============================================================================================-->
    <script src="/vendor/parallax100/parallax100.js"></script>
    <script>
        $(".parallax100").parallax100();
    </script>
    <!--===============================================================================================-->
    <script src="/vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
    <script>
        $(".gallery-lb").each(function () {
            // the containers for all your galleries
            $(this).magnificPopup({
                delegate: "a", // the selector for gallery item
                type: "image",
                gallery: {
                    enabled: true,
                },
                mainClass: "mfp-fade",
            });
        });
    </script>
    <!--===============================================================================================-->
    <script src="/vendor/isotope/isotope.pkgd.min.js"></script>
    <!--===============================================================================================-->
    <script src="/vendor/sweetalert/sweetalert.min.js"></script>
    <script>
        $(".js-addwish-b2").on("click", function (e) {
            e.preventDefault();
        });

        $(".js-addwish-b2").each(function () {
            var nameProduct = $(this).parent().parent().find(".js-name-b2").html();
            $(this).on("click", function () {
                swal(nameProduct, "is added to wishlist !", "success");

                $(this).addClass("js-addedwish-b2");
                $(this).off("click");
            });
        });

        $(".js-addwish-detail").each(function () {
            var nameProduct = $(this).parent().parent().parent().find(".js-name-detail").html();

            $(this).on("click", function () {
                swal(nameProduct, "is added to wishlist !", "success");

                $(this).addClass("js-addedwish-detail");
                $(this).off("click");
            });
        });

        /*---------------------------------------------*/

        $(".js-addcart-detail").each(function () {
            var nameProduct = $(this).parent().parent().parent().parent().find(".js-name-detail").html();
            $(this).on("click", function () {
                swal(nameProduct, "is added to cart !", "success");
            });
        });
    </script>
    <!--===============================================================================================-->
    <script src="/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script>
        $(".js-pscroll").each(function () {
            $(this).css("position", "relative");
            $(this).css("overflow", "hidden");
            var ps = new PerfectScrollbar(this, {
                wheelSpeed: 1,
                scrollingThreshold: 1000,
                wheelPropagation: false,
            });

            $(window).on("resize", function () {
                ps.update();
            });
        });
    </script>
    <!--===============================================================================================-->
    <script src="/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        //add to cart button axios
        document.querySelectorAll(".unique-add-to-cart-form").forEach((form) => {
            form.addEventListener("submit", (event) => {
                event.preventDefault(); // Prevent default form submission

                const formData = new FormData(form);
                const actionUrl = form.action;

                // Convert FormData to a regular object for Axios
                const data = Object.fromEntries(formData.entries());

                axios
                    .post(actionUrl, data)
                    .then((response) => {
                        // console.log("Response received:", response);
                        // console.log("Message:", response.data.message);

                        if (response.data.success) {
                            // SweetAlert for success notification
                            Swal.fire({
                                title: "Success!",
                                text: response.data.message,
                                icon: "success",
                                confirmButtonText: "Ok",
                                customClass: {
                                    confirmButton: "custom-confirm-button", // Your custom styling
                                },
                            });
                        } else if (response.data.exists) {
                            // Product already exists case
                            Swal.fire({
                                title: "Already in Cart",
                                text: "This product is already in your cart. Go to cart to view it!",
                                icon: "info",
                                showCancelButton: true,
                                confirmButtonText: "Go to Cart",
                                cancelButtonText: "Continue Shopping",
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    window.location.href = "/cart"; // Redirect to cart
                                }
                            });
                        } else {
                            // Error notification
                            Swal.fire({
                                title: "Error!",
                                text: response.data.message || "Something went wrong!",
                                icon: "error",
                                confirmButtonText: "OK",
                                customClass: {
                                    confirmButton: "custom-confirm-button", // Your custom styling
                                },
                            });
                        }
                    })
                    .catch((error) => {
                        console.log("Error received:", error); // Debugging the error response
                        if (error.response) {
                            // SweetAlert for error notification
                            Swal.fire({
                                title: "Error!",
                                text: error.response.data.message || "Failed to add product to cart.",
                                icon: "error",
                                confirmButtonText: "OK",
                                customClass: {
                                    confirmButton: "custom-confirm-button", // Your custom styling
                                },
                            });
                        } else {
                            // SweetAlert for general error notification
                            Swal.fire({
                                title: "Error!",
                                text: "An unexpected error occurred.",
                                icon: "error",
                                confirmButtonText: "OK",
                                customClass: {
                                    confirmButton: "custom-confirm-button", // Your custom styling
                                },
                            });
                        }
                    });
            });
        });

        //add to wishlist button axios
        document.querySelectorAll(".btn-add-wishlist").forEach((button) => {
            button.addEventListener("click", async (e) => {
                const productId = e.target.getAttribute("data-product-id");
                try {
                    const response = await axios.post("/profile/wishlist/add", { productId });

                    if (!response.data.success) {
                        if (response.data.redirectToLogin) {
                            Swal.fire({
                                title: "Please login!",
                                text: "You need to login to add items to your wishlist.",
                                icon: "warning",
                                showCancelButton: true,
                                confirmButtonText: "Login",
                                cancelButtonText: "Cancel",
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    window.location.href = "/login"; // redirect to login
                                }
                            });
                        }
                    } else {
                        if (response.data.alreadyInWishlist) {
                            Swal.fire({
                                title: "Product already in wishlist",
                                text: "This product is already in your wishlist.",
                                icon: "info",
                                showCancelButton: true,
                                confirmButtonText: "Go to Wishlist",
                                cancelButtonText: "Keep Shopping",
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    window.location.href = "/profile/wishlist"; // redirect to wishlist
                                }
                            });
                        } else {
                            Swal.fire({
                                title: "Added!",
                                text: response.data.message,
                                icon: "success",
                                confirmButtonText: "Continue Shopping",
                            });
                        }
                    }
                } catch (error) {
                    if (error.response && error.response.status === 401) {
                        // Handle unauthorized error
                        Swal.fire({
                            title: "Please login!",
                            text: "You need to login to add items to your wishlist.",
                            icon: "warning",
                            showCancelButton: true,
                            confirmButtonText: "Login",
                            cancelButtonText: "Cancel",
                        }).then((result) => {
                            if (result.isConfirmed) {
                                window.location.href = "/login"; // redirect to login
                            }
                        });
                    } else {
                        console.error("Error adding to wishlist:", error);
                        Swal.fire({
                            title: "Error",
                            text: "Something went wrong. Please try again later.",
                            icon: "error",
                            confirmButtonText: "Close",
                        });
                    }
                }
            });
        });
    </script>
</body>
