<!DOCTYPE html>
<html lang="en">
    <!-- molla/category-list.html  22 Nov 2019 10:02:52 GMT -->
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>Molla - Bootstrap eCommerce Template</title>
        <meta name="keywords" content="HTML5 Template" />
        <meta name="description" content="Molla - Bootstrap eCommerce Template" />
        <meta name="author" content="p-themes" />
        <!-- Favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/icons/apple-touch-icon.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/icons/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/icons/favicon-16x16.png" />
        <link rel="manifest" href="/assets/images/icons/site.html" />
        <link rel="mask-icon" href="/assets/images/icons/safari-pinned-tab.svg" color="#666666" />
        <link rel="shortcut icon" href="/assets/images/icons/favicon.ico" />
        <meta name="apple-mobile-web-app-title" content="Molla" />
        <meta name="application-name" content="Molla" />
        <meta name="msapplication-TileColor" content="#cc9966" />
        <meta name="msapplication-config" content="/assets/images/icons/browserconfig.xml" />
        <meta name="theme-color" content="#ffffff" />
        <!-- Plugins CSS File -->
        <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
        <!-- Main CSS File -->
        <link rel="stylesheet" href="/assets/css/style.css" />
        <link rel="stylesheet" href="/assets/css/plugins/owl-carousel/owl.carousel.css" />
        <link rel="stylesheet" href="/assets/css/plugins/magnific-popup/magnific-popup.css" />
        <link rel="stylesheet" href="/assets/css/plugins/nouislider/nouislider.css" />
    </head>

    <body>
        <div class="page-wrapper">
            <header class="header">
                <div class="header-middle sticky-header">
                    <div class="container">
                        <div class="header-left">
                            <button class="mobile-menu-toggler">
                                <span class="sr-only">Toggle mobile menu</span>
                                <i class="icon-bars"></i>
                            </button>

                            <a href="#" class="logo">
                                <span style="font-size: 2.5rem; font-weight: 600; color: black">Byteverse</span>
                            </a>

                            <nav class="main-nav">
                                <ul class="menu sf-arrows">
                                    <li class="megamenu-container active">
                                        <a href="index.html">Home</a>
                                    </li>
                                    <li>
                                        <a href="category.html">Shop</a>
                                    </li>
                                    <li>
                                        <a href="product.html">About</a>
                                    </li>
                                    <li>
                                        <a href="#">Contact</a>
                                    </li>
                                    <li>
                                        <a href="blog.html">Help</a>
                                    </li>
                                    <!-- <li>
                                        <a href="elements-list.html">Elements</a>
                                    </li> -->
                                </ul>
                                <!-- End .menu -->
                            </nav>
                            <!-- End .main-nav -->
                        </div>
                        <!-- End .header-left -->

                        <div class="header-right">
                            <div class="header-search">
                                <a href="#" class="search-toggle" role="button" title="Search"><i class="icon-search"></i></a>
                                <form action="#" method="get">
                                    <div class="header-search-wrapper">
                                        <label for="q" class="sr-only">Search</label>
                                        <input type="search" class="form-control" name="q" id="q" placeholder="Search in..." required />
                                    </div>
                                    <!-- End .header-search-wrapper -->
                                </form>
                            </div>
                            <!-- End .header-search -->

                            <div class="dropdown cart-dropdown">
                                <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
                                    <i class="icon-shopping-cart"></i>
                                </a>
                            </div>
                            <!-- End .cart-dropdown -->
                        </div>
                        <!-- End .header-right -->
                    </div>
                    <!-- End .container -->
                </div>
                <!-- End .header-middle -->
            </header>
            <!-- End .header -->

            <main class="main">
                <nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
                    <div class="container">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Shop</a></li>
                            <li class="breadcrumb-item active" aria-current="page">List</li>
                        </ol>
                    </div>
                    <!-- End .container -->
                </nav>
                <!-- End .breadcrumb-nav -->

                <div class="page-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-9">
                                <div class="toolbox">
                                    <div class="toolbox-left">
                                        <!-- <div class="toolbox-info">Showing <span>9 of 56</span> Products</div> -->
                                        <!-- End .toolbox-info -->
                                    </div>
                                    <!-- End .toolbox-left -->

                                    <div class="toolbox-right">
                                        <div class="toolbox-sort">
                                            <label for="sortby">Sort by:</label>
                                            <form action="/shop" method="GET">
                                                <div class="select-custom">
                                                    <select name="sortby" id="sortby" class="form-control" onchange="this.form.submit()">
                                                        <option value="popularity" <%= sortby === "popularity" ? "selected" : "" %>>Most Popular</option>
                                                        <option value="price_low" <%= sortby === "price_low" ? "selected" : "" %>>Low to High</option>
                                                        <option value="price_high" <%= sortby === "price_high" ? "selected" : "" %>>High to Low</option>
                                                        <option value="average_rating" <%= sortby === "average_rating" ? "selected" : "" %>>Average Ratings</option>
                                                        <option value="new_arrivals" <%= sortby === "new_arrivals" ? "selected" : "" %>>New Arrivals</option> 
                                                        <option value="a_to_z" <%= sortby === "a_to_z" ? "selected" : "" %>>A - Z</option>
                                                        <option value="z_to_a" <%= sortby === "z_to_a" ? "selected" : "" %>>Z - A</option>
                                                    </select>
                                                </div>
                                            </form>
                                        </div>
                                    </div>

                                    <!-- End .toolbox-right -->
                                </div>
                                <!-- End .toolbox -->

                                <div class="products mb-3">
                                    <% products.forEach(product => { %>
                                    <div class="product product-list">
                                        <div class="row">
                                            <div class="col-6 col-lg-3">
                                                <figure class="product-media">
                                                    <!-- <span class="product-label label-new">New</span> -->
                                                    <a href="product.html">
                                                        <img src="<%= product.images[0] %>" alt="Product image" class="product-image" />
                                                    </a>
                                                </figure>
                                                <!-- End .product-media -->
                                            </div>
                                            <!-- End .col-sm-6 col-lg-3 -->

                                            <div class="col-6 col-lg-3 order-lg-last d-flex align-items-center">
                                                <div class="product-list-action">
                                                    <div class="product-price">$<%= product.price.toFixed(2) %></div>
                                                    <!-- End .product-price -->
                                                    <div class="ratings-container">
                                                        <div class="ratings">
                                                            <div class="ratings-val"></div>
                                                            <!-- End .ratings-val -->
                                                        </div>
                                                        <!-- End .ratings -->
                                                        <span class="ratings-text">( <%= product.reviews || 0 %> Reviews )</span>
                                                    </div>
                                                    <!-- End .ratings-container -->

                                                    <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                                </div>
                                                <!-- End .product-list-action -->
                                            </div>
                                            <!-- End .col-sm-6 col-lg-3 -->

                                            <div class="col-lg-6 d-flex align-items-center">
                                                <div class="product-body product-action-inner">
                                                    <a href="#" class="btn-product btn-wishlist" title="Add to wishlist"><span>add to wishlist</span></a>
                                                    <div class="product-cat">
                                                        <a href="#"> <%= product.brand %> </a>
                                                    </div>
                                                    <!-- End .product-cat -->
                                                    <h3 class="product-title" style="width: 43rem;"><a href="product.html"><%= product.name %></a></h3>
                                                    <!-- End .product-title -->

                                                    <div class="product-content">
                                                        <p><%= product.description %></p>
                                                    </div>
                                                    <!-- End .product-content -->

                                                    <div class="product-nav product-nav-thumbs">
                                                        <% product.images.forEach((image, index) => { %>
                                                        <a href="#" class="<%= index === 0 ? 'active' : '' %>">
                                                            <img src="<%= image %>" alt="product desc" />
                                                        </a>
                                                        <% }); %>
                                                    </div>
                                                    <!-- End .product-nav -->
                                                </div>
                                                <!-- End .product-body -->
                                            </div>
                                            <!-- End .col-lg-6 -->
                                        </div>
                                        <!-- End .row -->
                                    </div>
                                    <!-- End .product -->
                                    <% }); %>
                                </div>

                                <!-- End .products -->

                                <nav aria-label="Page navigation">
                                    <ul class="pagination">
                                        <li class="page-item disabled">
                                            <a class="page-link page-link-prev" href="#" aria-label="Previous" tabindex="-1" aria-disabled="true">
                                                <span aria-hidden="true"><i class="icon-long-arrow-left"></i></span>Prev
                                            </a>
                                        </li>
                                        <li class="page-item active" aria-current="page"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item-total">of 6</li>
                                        <li class="page-item">
                                            <a class="page-link page-link-next" href="#" aria-label="Next">
                                                Next <span aria-hidden="true"><i class="icon-long-arrow-right"></i></span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <!-- End .col-lg-9 -->
                            <aside class="col-lg-3 order-lg-first">
                                <div class="sidebar sidebar-shop">
                                    <div class="widget widget-clean">
                                        <label>Filters:</label>
                                        <a href="#" class="sidebar-filter-clear">Clean All</a>
                                    </div>
                                    <!-- End .widget widget-clean -->

                                    <div class="widget widget-collapsible">
                                        <h3 class="widget-title">
                                            <a data-toggle="collapse" href="#widget-1" role="button" aria-expanded="true" aria-controls="widget-1"> Category </a>
                                        </h3>
                                        <!-- End .widget-title -->

                                        <div class="collapse show" id="widget-1">
                                            <div class="widget-body">
                                                <div class="filter-items filter-items-count">
                                                    <% categories.forEach(category => { %>
                                                    <div class="filter-item">
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="cat-<%= category._id %>" name="categories" value="<%= category._id %>" />
                                                            <label class="custom-control-label" for="cat-<%= category._id %>"><%= category.name %></label>
                                                        </div>
                                                        <!-- End .custom-checkbox -->
                                                        <span class="item-count"><%= category.productCount %></span>
                                                    </div>
                                                    <!-- End .filter-item -->
                                                    <% }) %>
                                                </div>
                                                <!-- End .filter-items -->
                                            </div>
                                            <!-- End .widget-body -->
                                        </div>
                                        <!-- End .collapse -->
                                    </div>

                                    <div class="widget widget-collapsible">
                                        <h3 class="widget-title">
                                            <a data-toggle="collapse" href="#widget-4" role="button" aria-expanded="true" aria-controls="widget-4"> Brand </a>
                                        </h3>
                                        <!-- End .widget-title -->

                                        <div class="collapse show" id="widget-4">
                                            <div class="widget-body">
                                                <div class="filter-items">
                                                    <div class="filter-item">
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="brand-1" value="Apple" />
                                                            <label class="custom-control-label" for="brand-1">Apple</label>
                                                        </div>
                                                        <!-- End .custom-checkbox -->
                                                    </div>
                                                    <!-- End .filter-item -->

                                                    <div class="filter-item">
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="brand-2" value="Dell" />
                                                            <label class="custom-control-label" for="brand-2">Dell</label>
                                                        </div>
                                                        <!-- End .custom-checkbox -->
                                                    </div>
                                                    <!-- End .filter-item -->

                                                    <div class="filter-item">
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="brand-3" value="HP" />
                                                            <label class="custom-control-label" for="brand-3">HP</label>
                                                        </div>
                                                        <!-- End .custom-checkbox -->
                                                    </div>
                                                    <!-- End .filter-item -->

                                                    <div class="filter-item">
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="brand-4" value="Lenovo" />
                                                            <label class="custom-control-label" for="brand-4">Lenovo</label>
                                                        </div>
                                                        <!-- End .custom-checkbox -->
                                                    </div>
                                                    <!-- End .filter-item -->

                                                    <div class="filter-item">
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="brand-5" value="Asus" />
                                                            <label class="custom-control-label" for="brand-5">Asus</label>
                                                        </div>
                                                        <!-- End .custom-checkbox -->
                                                    </div>
                                                    <!-- End .filter-item -->

                                                    <div class="filter-item">
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="brand-6" value="Acer" />
                                                            <label class="custom-control-label" for="brand-6">Acer</label>
                                                        </div>
                                                        <!-- End .custom-checkbox -->
                                                    </div>
                                                    <!-- End .filter-item -->

                                                    <div class="filter-item">
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="brand-7" value="Microsoft" />
                                                            <label class="custom-control-label" for="brand-7">Microsoft</label>
                                                        </div>
                                                        <!-- End .custom-checkbox -->
                                                    </div>
                                                    <!-- End .filter-item -->

                                                    <div class="filter-item">
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="brand-8" value="MSI" />
                                                            <label class="custom-control-label" for="brand-8">MSI</label>
                                                        </div>
                                                        <!-- End .custom-checkbox -->
                                                    </div>
                                                    <!-- End .filter-item -->

                                                    <div class="filter-item">
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="brand-9" value="Razer" />
                                                            <label class="custom-control-label" for="brand-9">Razer</label>
                                                        </div>
                                                        <!-- End .custom-checkbox -->
                                                    </div>
                                                    <!-- End .filter-item -->

                                                    <div class="filter-item">
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="brand-10" value="Samsung" />
                                                            <label class="custom-control-label" for="brand-10">Samsung</label>
                                                        </div>
                                                        <!-- End .custom-checkbox -->
                                                    </div>
                                                    <!-- End .filter-item -->

                                                    <div class="filter-item">
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="brand-11" value="Toshiba" />
                                                            <label class="custom-control-label" for="brand-11">Toshiba</label>
                                                        </div>
                                                        <!-- End .custom-checkbox -->
                                                    </div>
                                                    <!-- End .filter-item -->

                                                    <div class="filter-item">
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="brand-12" value="Sony" />
                                                            <label class="custom-control-label" for="brand-12">Sony</label>
                                                        </div>
                                                        <!-- End .custom-checkbox -->
                                                    </div>
                                                    <!-- End .filter-item -->

                                                    <div class="filter-item">
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="brand-13" value="Huawei" />
                                                            <label class="custom-control-label" for="brand-13">Huawei</label>
                                                        </div>
                                                        <!-- End .custom-checkbox -->
                                                    </div>
                                                    <!-- End .filter-item -->

                                                    <div class="filter-item">
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="brand-14" value="Xiaomi" />
                                                            <label class="custom-control-label" for="brand-14">Xiaomi</label>
                                                        </div>
                                                        <!-- End .custom-checkbox -->
                                                    </div>
                                                    <!-- End .filter-item -->

                                                    <div class="filter-item">
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="brand-15" value="Alienware" />
                                                            <label class="custom-control-label" for="brand-15">Alienware</label>
                                                        </div>
                                                        <!-- End .custom-checkbox -->
                                                    </div>
                                                    <!-- End .filter-item -->

                                                    <div class="filter-item">
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="brand-16" value="Gigabyte" />
                                                            <label class="custom-control-label" for="brand-16">Gigabyte</label>
                                                        </div>
                                                        <!-- End .custom-checkbox -->
                                                    </div>
                                                    <!-- End .filter-item -->

                                                    <div class="filter-item">
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="brand-17" value="LG" />
                                                            <label class="custom-control-label" for="brand-17">LG</label>
                                                        </div>
                                                        <!-- End .custom-checkbox -->
                                                    </div>
                                                    <!-- End .filter-item -->
                                                </div>
                                                <!-- End .filter-items -->
                                            </div>
                                            <!-- End .widget-body -->
                                        </div>
                                        <!-- End .collapse -->
                                    </div>
                                    <!-- End .widget -->

                                    <!-- End .widget -->

                                    <div class="widget widget-collapsible">
                                        <h3 class="widget-title">
                                            <a data-toggle="collapse" href="#widget-5" role="button" aria-expanded="true" aria-controls="widget-5"> Price </a>
                                        </h3>
                                        <!-- End .widget-title -->

                                        <div class="collapse show" id="widget-5">
                                            <div class="widget-body">
                                                <div class="filter-price">
                                                    <div class="filter-price-text">
                                                        Price Range:
                                                        <span id="filter-price-range"></span>
                                                    </div>
                                                    <!-- End .filter-price-text -->

                                                    <div id="price-slider"></div>
                                                    <!-- End #price-slider -->
                                                </div>
                                                <!-- End .filter-price -->
                                            </div>
                                            <!-- End .widget-body -->
                                        </div>
                                        <!-- End .collapse -->
                                    </div>
                                    <!-- End .widget -->
                                </div>
                                <!-- End .sidebar sidebar-shop -->
                            </aside>
                            <!-- End .col-lg-3 -->
                        </div>
                        <!-- End .row -->
                    </div>
                    <!-- End .container -->
                </div>
                <!-- End .page-content -->
            </main>
            <!-- End .main -->

            <!-- End .footer -->
        </div>
        <!-- End .page-wrapper -->
        <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

        <!-- Plugins JS File -->
        <script src="/assets/js/jquery.min.js"></script>
        <script src="/assets/js/bootstrap.bundle.min.js"></script>
        <script src="/assets/js/jquery.hoverIntent.min.js"></script>
        <script src="/assets/js/jquery.waypoints.min.js"></script>
        <script src="/assets/js/superfish.min.js"></script>
        <script src="/assets/js/owl.carousel.min.js"></script>
        <script src="/assets/js/wNumb.js"></script>
        <script src="/assets/js/bootstrap-input-spinner.js"></script>
        <script src="/assets/js/jquery.magnific-popup.min.js"></script>
        <script src="/assets/js/nouislider.min.js"></script>
        <!-- Main JS File -->
        <script src="/assets/js/main.js"></script>
    </body>

    <!-- molla/category-list.html  22 Nov 2019 10:02:52 GMT -->
</html>
